m-lr-xs {
	margin-left: 5px;
	margin-right: 5px;
}
m-l-xs {
	margin-left: 5px;
}
m-r-xs {
	margin-right: 5px;
}
m-xs {
	margin: 5px;
}
.space {
	display: flex;
}
.space .btn {
	margin-left: 5px;
	margin-right: 5px;
}
.space .btn-l {
	margin-left: 0px;
}
.space .btn-r {
	margin-right: 0px;
}
